@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-bg-primary: #F78B00;
  --color-bg-secundary: #FFFFFF;
  --color-bg-terciary: #ededed;
  --color-bg-btn: #00285F;


  --color-font-primary: #00285F;
  --color-font-sencundary: #FFFFFF;
  --color-font-terciary: #000000;
  --color-font-quaternary:  #585858;

  --color-border-placeholder: #A7A7A7;

  --color-font-placeholder: #A7A7A7;


}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto'sans-serif;
}

a, a:hover {
  color: unset;
  text-decoration: none;

}

html, body {
  background-color: var(--color-bg-secundary);
}

main {
  padding: 0 10px;
}



nav {
  height: 70px;
  background: var(--color-bg-primary);
  display: flex;

}

.cartop-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}


@media (min-width: 576px) {
  main {
    padding: 0 20px;
  }
  
}


